$deliverit-primary-color: #4cbab4;
$deliverit-secondary-color: #ea5a45;
$deliverit-tertiary-color: #4ba9dd;
$deliverit-quaternary-color: #8cc63f;
$deliverit-warning: #f89406;
$deliverit-background: #212330;
$deliverit-white: #ffffff;
